/*  
*{}
This is where we will add universal elements to make the websites the same format wise */
.title {
  color: white;
  font-size: 20px;
}

.navbar-brand {
  text-align: center;
  color: white;

  /* This is the menu button and it's properties */
}
.dropbtn {
  background-color: #04aa6d;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
}

.dropdown { 
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute; 
  background-color: #f1f1f1;
  min-width: 160px; 
}

.dropdown-content a {
  color: red;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
  cursor: pointer;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
  cursor: pointer;
}

/*  This is the footer */
footer {
  text-align: center;
  padding: 12px; 
  color: white;
  bottom: 0%;
  width: 100%;
  background-color: #04aa6d;
  margin-top: 505px;
}
