/* Moving the images below the nav bar! Popcorn below the Nav Bar and then on the right of it is about me. Then below is mission statement and on the right the theater image */

.popcorn {
  position: relative;
}

.dropdown:hover .dropdown-content {
  display: block;
  cursor: pointer;
}

.text {
  background-color: lightgrey;
  width: 300px;
  border: 15px solid red;
  padding: 50px;
  margin: 20px;
}

.texts {
  background-color: lightgrey;
  width: 300px;
  border: 15px solid red;
  padding: 50px;
  margin: 20px;
}

/* @media screen and (max-width: 992px) {
  header {
    background: #772014;
  }
} */
